<%- include ('partials/header.ejs') %>

    <div class="quote-container">
        <div class="quote-box">
            <h1>“It's not who I am underneath, but what I do that defines me.”</h1>
            <p>- Batman</p>
        </div>
    </div>

<%- include ('partials/footer.ejs') %>