<%- include ('partials/header.ejs') %>

<main>
    <div class="homepage">
        <p>This user authentication project implements secure user verification using Passport.js and Google OAuth for social login functionality. User passwords are hashed and stored securely in the database using bcrypt, ensuring strong encryption and protection. We also utilized Express-Session for efficient session management, allowing for persistent user login sessions. The combination of Passport.js with local strategy and OAuth integration provides a robust, scalable solution for user authentication in web applications.</p>
    </div>
</main>

<%- include ('partials/footer.ejs') %>